<!DOCTYPE html>
<html>
<head>

</head>

<body>

<div class="">
    <nav>
        <ul class="">
            <li role="navMenu"><a href="/users/dashboard">Dashboard</a></li>
            <li role="navMenu"><a href="/users/logout">Logout</a></li>
            <li role="navMenu"><a href="/users/login">Login</a></li>
            <li role="navMenu"><a href="/users/register">Register</a></li>
        </ul>
    </nav>
</div>

<div class="jumbotron text-center">
    <h1>CONU SHOP PLACEHOLDER</h1>
    <!--%= jsonData %-->
</div>

<form method="post" action="/inventory/tabletView">
    <div class="AddTablet">
        <label>modeNumber</label>
        <input type="text" class="" name="model" placeholder="model">
    </div>
    <div class="AddTablet">
        <label>brand</label>
        <input type="text" class="" name="brand" placeholder="brand">
    </div>
    <div class="AddTablet">
        <label>display</label>
        <input type="text" class="" name="display" placeholder="display">
    </div>
    <div class="AddTablet">
        <label>processor</label>
        <input type="text" class="" name="processor" placeholder="processor">
    </div>
    <div class="AddTablet">
        <label>ram</label>
        <input type="text" class="" name="ram" placeholder="ram">
    </div>
    <div class="AddTablet">
        <label>storage</label>
        <input type="text" class="" name="storage" placeholder="storage">
    </div>
    <div class="AddTablet">
        <label>cores</label>
        <input type="text" class="" name="cores" placeholder="cores">
    </div>
    <div class="AddTablet">
        <label>os</label>
        <input type="text" class="" name="os" placeholder="os">
    </div>
    <div class="AddTablet">
        <label>battery</label>
        <input type="text" class="" name="battery" placeholder="battery">
    </div>
    <div class="AddTablet">
        <label>camera</label>
        <input type="text" class="" name="camera" placeholder="camera">
    </div>
    <div class="AddTablet">
        <label>dimensions</label>
        <input type="text" class="" name="dimensions" placeholder="dimensions">
    </div>
    <div class="AddTablet">
        <label>weight</label>
        <input type="text" class="" name="weight" placeholder="weight">
    </div>
    <div class="AddTablet">
        <label>price</label>
        <input type="text" class="" name="price" placeholder="price">
    </div>
    <button type="submit" class="">Add new Tablet item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <ol>
        <% for(var i = 0; i < data.length; i++) { %> 
            <li>
                <ul>
                    <li>model: <%= data[i].model %></li>
                    <li>brand: <%= data[i].brand %></li>
                    <li>display: <%= data[i].display %></li>
                    <li>processor: <%= data[i].processor %></li>
                    <li>ram: <%= data[i].ram %></li>
                    <li>storage: <%= data[i].storage %></li>
                    <li>cores: <%= data[i].cores %></li>
                    <li>os <%= data[i].os %></li>
                    <li>battery: <%= data[i].battery %></li>
                    <li>camera: <%= data[i].camera %></li>
                    <li>dimensions: <%= data[i].dimensions %></li>
                    <li>weight: <%= data[i].weight %></li>
                    <li>price: <%= data[i].price %></li>
                </ul>
            </li><br>
        <% } %>
        </ol>
    <% } %>
</div>
</body>
</html>
