<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->

<!-- <% include ../components/adminNav.ejs %> -->
<div>
    <hr>
    <% if (typeof data!='undefined') { %>
    <div class="container">
        <br><br><br>
        <h2 class="text-center">Registered Clients</h2>
        <br>
        <table class="table table-striped table-condensed" id="prodTable">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td class="FirstName" contenteditable="false"><%= data[i].firstname %></td>
                <td class="LastName"><%= data[i].lastname %></td>
                <td class="Address"><%= data[i].address %></td>
                <td class="Email"><%= data[i].email %></td>
                <td class="Phone"><%= data[i].phone %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <% } %>
    </div>

<!--%= jsonData %-->
<!-- footer -->
<% include ../components/footer.ejs %>
<!-- //footer -->

</body>
</html>