<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->
<% include ../components/adminNav.ejs %>
<!-- flash messages -->
<% if (sessStart_msg.length > 0) { %>
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= sessStart_msg %>
</div>
<% } %>
<% if (sessEnd_msg.length > 0) { %>
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= sessEnd_msg %>
</div>
<% } %>
<% if (otherSess_msg.length > 0) { %>
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= otherSess_msg %>
</div>
<% } %>
<button onclick="beginSession('/admin/desktops')">EditOn</button>
<button onclick="endSession('/admin/desktops')">EditOff</button>
<form method="post" action="/admin/addItem">
    <div class="AddItem">
        <label>serialNumber</label>
        <input type="text" class="" name="serialNumber" placeholder="Serial Number">
    </div>
    <div class="AddItem">
        <label>modelNumber</label>
        <input type="text" class="" name="modelNumber" placeholder="Model Number">
    </div>
    <button type="submit" class="">Add item</button>
</form></br>

<form method="post" action="/admin/deleteItem">
    <div class="DeleteItem">
        <label>serialNumber</label>
        <input type="text" class="" name="serialNumberToRemove" placeholder="Serial Number">
    </div>
    <button type="submit" class="">Delete item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <table>
            <tr>
                <td>Serial Number</td>
                <td>Model Number</td>

            </tr>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].serialNumber %></td>
                <td><%= data[i].modelNumber %></td>
            </tr>
        <% } %>
        </table>
    <% } %>
</div>
<!--%= jsonData %-->
<!-- footer -->
<% include ../components/footer.ejs %>
<!-- //footer -->

</body>
</html>