<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->
<% include ../components/adminNav.ejs %>
<!-- flash messages -->
<% if (sessStart_msg.length > 0) { %>
<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= sessStart_msg %>
</div>
<% } %>
<% if (sessEnd_msg.length > 0) { %>
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= sessEnd_msg %>
</div>
<% } %>
<% if (otherSess_msg.length > 0) { %>
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= otherSess_msg %>
</div>
<% } %>
<button onclick="beginSession('/admin/desktops')">EditOn</button>
<button onclick="endSession('/admin/desktops')">EditOff</button>
<form method="post" action="/admin/addProdSpec">
    <div class="AddMonitor">
        <label>Product Table: </label>
        <input type="text" class="" name="formProductType" value="Monitor" readonly>
    </div>
    <div class="AddMonitor">
        <label>modeNumber</label>
        <input type="text" class="" name="model" placeholder="model">
    </div>
    <div class="AddMonitor">
        <label>brand</label>
        <input type="text" class="" name="brand" placeholder="brand">
    </div>
    <div class="AddMonitor">
        <label>size</label>
        <input type="text" class="" name="size" placeholder="size">
    </div>
    <div class="AddMonitor">
        <label>weight</label>
        <input type="text" class="" name="weight" placeholder="weight">
    </div>
    <div class="AddMonitor">
        <label>price</label>
        <input type="text" class="" name="price" placeholder="price">
    </div>
    <button type="submit" class="">Add new Monitor item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <table>
            <tr contenteditable="false">
                <td>Model</td>
                <td>Brand</td>
                <td>Size</td>
                <td>Weight</td>
                <td>Price</td>
                <td>Edit</td>
            </tr>
        <% for(var i = 0; i < data.length; i++) { %>
            <tr contenteditable='true'>
                <td class="model" contenteditable="false"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="size"><%= data[i].size %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
                <td contenteditable="false"><button onclick="updateProdSpec('Monitor', $(this).closest('tr'), '/admin/monitors')">Edit</button></td>
            </tr>
        <% } %>
        </table>
    <% } %>
</div>
<!--%= jsonData %-->
<!-- footer -->
<% include ../components/footer.ejs %>
<!-- //footer -->

</body>
</html>
