<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
<!-- navigator -->
<% include ../components/navigator.ejs %>
<!-- //navigator -->

<% include ../components/adminNav.ejs %>

<div class="container">
    <ul class="nav nav-tabs" style="list-style-type: none;" id="myTab">
        <li class="active"><a data-toggle="tab" href="#edit">Edit</a></li>
        <li><a data-toggle="tab" href="#view">View</a></li>
    </ul>
</div>

<!-- flash messages -->
<% include ../components/flashMessages.ejs %>

<div class="tab-content">
    <div id="view" class="tab-pane fade">
        <br><br>
        <h1 class="text-center">View Monitors</h1>
        <br><br>
        <!-- List of items -->
        <div>
            <hr>
            <% if (typeof data!='undefined') { %>
            <div class="container">
                <br><br><br>
                <h2 class="text-center">All Monitors</h2>
                <br>
                <table class="table table-striped table-condensed" id="prodTable">
                    <thead>
                    <tr>
                        <th>Model</th>
                        <th>Brand</th>
                        <th>Size</th>
                        <th>Weight</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < data.length; i++) { %>
                    <tr>
                        <td class="model"><%= data[i].model %></td>
                        <td class="brand"><%= data[i].brand %></td>
                        <td class="size"><%= data[i].size %></td>
                        <td class="weight"><%= data[i].weight %></td>
                        <td class="price"><%= data[i].price %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <% } %>
        </div>
    </div>
    <div id="edit" class="tab-pane fade in active">
        <br><br>
        <h1 class="text-center">Manage Monitors</h1>
        <br><br>
        <div class="container">


            <div id="selector" class="btn-group" data-toggle="buttons-radio">
                <% if (!editIsOn) { %>
                <button name="editToggle" class="btn btn-default" onclick="beginSession('/admin/monitors')">Turn Edit ON</button>
                <% } %>
                <% if (editIsOn) { %>
                <button name="editToggle" class="btn btn-danger" onclick="endSession('/admin/monitors')">Turn Edit OFF</button>
                <% } %>
            </div>
            <br><br>

            <!-- Item register form -->
            <h1 class="well">Register a  new MONITOR</h1>
            <div class="col-lg-12 well">
                <div class="row">
                    <form data-toggle="validator" method="post" action="/admin/addProdSpec">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6 AddMonitor">
                                        <label>Product Table: </label>
                                        <input type="text" class="form-control" name="formProductType" value="Monitor" readonly>
                                </div>
                                <div class="col-sm-6 AddMonitor">
                                    <div class="form-group">
                                        <label>Model Number</label>
                                        <input type="text" class="form-control" name="model" placeholder="model" pattern="^MON\d{1,7}$" data-error="Please enter valid model." required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="AddMonitor">
                                <div class="form-group">
                                    <label>Brand</label>
                                    <input type="text" class="form-control" name="brand" placeholder="brand" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 AddMonitor">
                                    <div class="form-group">
                                        <label>Size</label>
                                        <input type="text" class="form-control" name="size" placeholder="size"  required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4 AddMonitor">
                                    <div class="form-group">
                                        <label>Weight</label>
                                        <input type="text" class="form-control" name="weight" placeholder="weight" pattern="[^-]\d+\.{0,1}\d{0,2}" data-error="Please enter valid price." data-error="Please enter valid weight." required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-4 AddMonitor">
                                    <div class="form-group">
                                        <label>Price</label>
                                        <input type="text" class="form-control" name="price" placeholder="price" pattern="[^-]\d+\.{0,1}\d{0,2}" data-error="Please enter valid price." data-error="Please enter valid price." required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div><br>
                            <button type="submit" class="btn btn-lg btn-success">Add monitor</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- List of items -->
            <div>
                <hr>
                <% if (typeof data!='undefined') { %>
                <div class="container">
                    <br><br><br>
                    <h2 class="text-center">Monitor Catalog</h2>
                    <p class="text-center">Simply modify any field and click edit to save</p>
                    <br>
                    <table class="table table-striped table-condensed" contenteditable="true" id="prodTable">
                        <thead>
                        <tr contenteditable="false">
                            <th>Model</th>
                            <th>Brand</th>
                            <th>Size</th>
                            <th>Weight</th>
                            <th>Price</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i = 0; i < data.length; i++) { %>
                        <tr contenteditable='true'>
                            <td class="model" contenteditable="false"><%= data[i].model %></td>
                            <td class="brand"><%= data[i].brand %></td>
                            <td class="size"><%= data[i].size %></td>
                            <td class="weight"><%= data[i].weight %></td>
                            <td class="price"><%= data[i].price %></td>
                            <td contenteditable="false"><button class="btn btn-warning" onclick="updateProdSpec('Monitor', $(this).closest('tr'), '/admin/monitors')">Edit</button></td>
                            <td contenteditable="false"><button class="btn btn-danger" onclick="deleteProdSpec('Monitor', '<%= data[i].model%>', '/admin/monitors')">Delete</button></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>

<!--%= jsonData %-->
<!-- footer -->
<% include ../components/footer.ejs %>
<!-- //footer -->

</body>
</html>
