<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../components/header.ejs %>
</head>
<body>
    
<% include ../components/navigator.ejs %>
<% include ../components/clientNav.ejs %>
<!-- flash messages -->
<% include ../components/flashMessages.ejs %>
<div class="client_content table-responsive">
    <div>
            <% if (typeof data=='undefined') { %>
                <div>
                    <br>
                    <h2>Welcome to ConUshop!</h2><br/>
                    <img src="\images\concordia.jpg" />
                </div>
            <%}%>
            <!--<img src="\images\Cat_Desktop.png" alt="Desktop" style="width:170px;height:170px;margin-left:90%;"> -->
            <% if (typeof data!='undefined' && data.table=='desktop') { %>
            <div style="float:left"></div>
            <h1>Desktop</h1><br>
            <select class="brandSelect" placeholder="Brand" multiple style="width:150px;" ></select>
            <select class="processorSelect" placeholder="Processor" multiple style="width:150px;"></select>
            <select class="ramSelect" placeholder="RAM" multiple style="width:150px;" ></select>
            <select class="storageSelect" placeholder="Storage" multiple style="width:150px;"></select>
            <input class ="priceLower" placeholder="priceLower" type="number" style="width:100px;"></input>
            <input class ="priceUpper" placeholder="priceUpper" type="number" style="width:100px;"></input>
            <br><br>
             </div>

                  
            <div id="desktops">
            <table class="table table-hover" id="prodTable" type="desktop">
                <thead>
                <tr>
                    <th><a class="sort" data-sort="model">Model</a></th>
                    <th><a class="sort" data-sort="brand">Brand</a></th>
                    <th><a class="sort" data-sort="processor">Processor</th>
                    <th><a class="sort" data-sort="ram">RAM</a></th>
                    <th><a class="sort" data-sort="storage">Storage</a></th>
                    <th><a class="sort" data-sort="cores">Cores</a></th>
                    <th>Dimensions</th>
                    <th><a class="sort" data-sort="weight">Weight</a></th>
                    <th><a class="sort" data-sort="price">Price</a></th>
                </tr>
                </thead>
                <tbody class="list">
                <% for(var i = 0; i < data.length; i++) { %>
                <tr data-toggle="modal"  data-target="#productCatalog" data-value="Desktop">
                    <td class="model"><%= data[i].model %></td>
                    <td class="brand"><%= data[i].brand %></td>
                    <td class="processor"><%= data[i].processor %></td>
                    <td class="ram"><%= data[i].ram %></td>
                    <td class="storage"><%= data[i].storage %></td>
                    <td class="cores"><%= data[i].cores %></td>
                    <td class="dimensions"><%= data[i].dimensions %></td>
                    <td class="weight"><%= data[i].weight %></td>
                    <td class="price"><%= data[i].price %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>

            <% } %>
        <% if (typeof data!='undefined' && data.table=='laptop') { %>
        <h1>Laptop</h1><br>
        <select class="brandSelect" placeholder="Brand" multiple style="width:150px;" ></select>
        <select class="osSelect" placeholder="OS" multiple style="width:150px;" ></select>
        <select class="processorSelect" placeholder="Processor" multiple style="width:150px;"></select>
        <select class="ramSelect" placeholder="RAM" multiple style="width:150px;" ></select>
        <select class="storageSelect" placeholder="Storage" multiple style="width:150px;"></select>
        <select class="touchSelect" placeholder="Touch" multiple style="width:150px;"></select>
        <select class="cameraSelect" placeholder="Camera" multiple style="width:150px;"></select>
        <input class ="displayLower" placeholder="displayLower" type="number" style="width:100px;"></input>
        <input class ="displayUpper" placeholder="displayUpper" type="number" style="width:100px;"></input>
        <input class ="priceLower" placeholder="priceLower" type="number" style="width:100px;"></input>
        <input class ="priceUpper" placeholder="priceUpper" type="number" style="width:100px;"></input>
        <br><br>
        <div id="laptops">
        <table class="table table-hover" id="prodTable" type="laptop">
            <thead>
            <tr>
                <th><a class="sort" data-sort="model">Model</a></th>
                <th><a class="sort" data-sort="brand">Brand</a></th>
                <th><a class="sort" data-sort="display">Display</a></th>
                <th><a class="sort" data-sort="processor">Processor</th>
                <th><a class="sort" data-sort="ram">RAM</a></th>
                <th><a class="sort" data-sort="storage">Storage</a></th>
                <th><a class="sort" data-sort="cores">Cores</a></th>
                <th><a class="sort" data-sort="cores">Os</a></td>
                <th><a class="sort" data-sort="battery">Battery</a></th>
                <th><a class="sort" data-sort="camera">Camera</a></th>
                <th><a class="sort" data-sort="touch">Touch</a></th>
                <th>Dimensions</td>
                <th><a class="sort" data-sort="weight">Weight</a></th>
                <th><a class="sort" data-sort="price">Price</a></th>
            </tr>
        </thead>
        <tbody class="list">
            <% for(var i = 0; i < data.length; i++) { %>
            <tr data-toggle="modal"  data-target="#productCatalog" data-value="Laptop">
                <td class="model"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="display"><%= data[i].display %></td>
                <td class="processor"><%= data[i].processor %></td>
                <td class="ram"><%= data[i].ram %></td>
                <td class="storage"><%= data[i].storage %></td>
                <td class="cores"><%= data[i].cores %></td>
                <td class="os"><%= data[i].os %></td>
                <td class="battery"><%= data[i].battery %></td>
                <td class="camera"><%= data[i].camera %></td>
                <td class="touch"><%= data[i].touch %></td>
                <td class="dimensions"><%= data[i].dimensions %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
        <% } %>
        <% if (typeof data!='undefined' && data.table=='monitor') { %>
            <h1>Monitor</h1><br>
            <select class="brandSelect" placeholder="Brand" multiple style="width:150px;" ></select>
            <input class ="displayLower" placeholder="displayLower" type="number" style="width:100px;"></input>
            <input class ="displayUpper" placeholder="displayUpper" type="number" style="width:100px;"></input>
            <input class ="priceLower" placeholder="priceLower" type="number" style="width:100px;"></input>
            <input class ="priceUpper" placeholder="priceUpper" type="number" style="width:100px;"></input>
            <br><br>
        <div id=monitors>
        <table class="table table-hover" id="prodTable"  type="monitor">
            <thead>
            <tr>
                <th><a class="sort" data-sort="model">Model</a></th>
                <th><a class="sort" data-sort="brand">Brand</a></th>
                <th><a class="sort" data-sort="size">Size</a></th>
                <th><a class="sort" data-sort="weight">Weight</a></th>
                <th><a class="sort" data-sort="price">Price</a></th>
            </tr>
        </thead>
        <tbody class="list">
            <% for(var i = 0; i < data.length; i++) { %>
            <tr data-toggle="modal"  data-target="#productCatalog" data-value="Monitor">
                <td class="model"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="size"><%= data[i].size %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
        <% } %>
        <% if (typeof data!='undefined' && data.table=='tablet') { %>
            <h1>Tablet</h1><br>
            <select class="brandSelect" placeholder="Brand" multiple style="width:150px;" ></select>
            <select class="osSelect" placeholder="OS" multiple style="width:150px;" ></select>
            <select class="processorSelect" placeholder="Processor" multiple style="width:150px;"></select>
            <select class="ramSelect" placeholder="RAM" multiple style="width:150px;" ></select>
            <select class="storageSelect" placeholder="Storage" multiple style="width:150px;"></select>
            <input class ="displayLower" placeholder="displayLower" type="number" style="width:100px;"></input>
            <input class ="displayUpper" placeholder="displayUpper" type="number" style="width:100px;"></input>
            <input class ="priceLower" placeholder="priceLower" type="number" style="width:100px;"></input>
            <input class ="priceUpper" placeholder="priceUpper" type="number" style="width:100px;"></input>
            <br><br>
        <div id="tablets">
        <table class="table table-hover" id="prodTable"  type="tablet">
            <thead>
            <tr>
                <th><a class="sort" data-sort="model">Model</a></th>
                <th><a class="sort" data-sort="brand">Brand</a></th>
                <th><a class="sort" data-sort="display">Display</a></th>
                <th><a class="sort" data-sort="processor">Processor</th>
                <th><a class="sort" data-sort="ram">RAM</a></th>
                <th><a class="sort" data-sort="storage">Storage</a></th>
                <th><a class="sort" data-sort="cores">Cores</a></th>
                <th><a class="sort" data-sort="os">Os</a></th>
                <th><a class="sort" data-sort="battery">Battery</a></th>
                <th><a class="sort" data-sort="camera">Camera</a></th>
                <th>Dimensions</th>
                <th><a class="sort" data-sort="weight">Weight</a></th>
                <th><a class="sort" data-sort="price">Price</a></th>
            </tr>
            <thead>
            <tbody class="list">
            <% for(var i = 0; i < data.length; i++) { %>
            <tr data-toggle="modal"  data-target="#productCatalog" data-value="Tablet">
                <td class="model"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="display"><%= data[i].display %></td>
                <td class="processor"><%= data[i].processor %></td>
                <td class="ram"><%= data[i].ram %></td>
                <td class="storage"><%= data[i].storage %></td>
                <td class="cores"><%= data[i].cores %></td>
                <td class="os"><%= data[i].os %></td>
                <td class="battery"><%= data[i].battery %></td>
                <td class="camera"><%= data[i].camera %></td>
                <td class="dimensions"><%= data[i].dimensions %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
        <% } %>

    </div>
</div>

<% if (isclient) { %>
<div class="container">
        <!-- Modal -->
        <div class="modal fade" id="modelMod" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-header">Successfully added to cart</h3>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Continue</button>
              </div>
            </div>
          </div>
        </div>
</div>
<% } %>

<% if (!isclient && !isadmin) { %>
<div class="container">
        <!-- Modal -->
        <div class="modal fade" id="modelMod" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-header" style="color:red;">Please login to have access to this feature</h4>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
</div>
<% } %>

<div id="productCatalog" class="modal fade" role="dialog" aria-labelledby="productCatalogLabel" aria-hidden="true">
    <div class='modal-dialog modal-lg'>
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                <h3>Item Details</h3>
            </div>
            <div id="productDetails" class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-info prod-addToCart" data-toggle="modal" data-target="#modelMod" >Add to Shopping Cart</button>
                <button class="btn btn-default prod-prev">Prev</button>
                <button class="btn btn-default prod-next">Next</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>                
            </div>
        </div>
    </div>
</div>


<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/multiple-select/1.2.0/multiple-select.js'></script> -->
<script type="text/javascript" src="/js/catalog/catalog.js"></script>
<% include ../components/footer.ejs %>
</body>
</html>
