<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../../assets/components/header.ejs %>
</head>
<body>
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<% include ../../assets/components/navigator.ejs %>
<% include ../../assets/components/clientNav.ejs %>

<div class="client_content table-responsive">
    <div>
            <% if (typeof data=='undefined') { %>
                <div>
                    <br>
                    <h2>Welcome to ConUshop!</h2><br/>
                    <img src="\images\concordia.jpg" />
                </div>
            <%}%>

            <% if (typeof data!='undefined' && data.table=='desktop') { %>

            <h1>Desktop</h1>
            <br>
            <div id="desktops">
                <!-- <button class="sort" data-sort="model">Sort by model</button> -->
            <table class="table table-hover" id="prodTable">
                <thead>
                <tr>
                    <th><a class="sort" data-sort="model">Model</a></th>
                    <th><a class="sort" data-sort="brand">Brand</a></th>
                    <th>Processor</th>
                    <th><a class="sort" data-sort="ram">RAM</a></th>
                    <th><a class="sort" data-sort="storage">Storage</a></th>
                    <th><a class="sort" data-sort="cores">Cores</a></th>
                    <th>Dimensions</th>
                    <th><a class="sort" data-sort="weight">Weight</a></th>
                    <th><a class="sort" data-sort="price">Price</a></th>
                </tr>
                </thead>
                <tbody class="list">
                <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <td class="model"><%= data[i].model %></td>
                    <td class="brand"><%= data[i].brand %></td>
                    <td><%= data[i].processor %></td>
                    <td class="ram"><%= data[i].ram %></td>
                    <td class="storage"><%= data[i].storage %></td>
                    <td class="cores"><%= data[i].cores %></td>
                    <td><%= data[i].dimensions %></td>
                    <td class="weight"><%= data[i].weight %></td>
                    <td class="price"><%= data[i].price %></td>
                </tr>
                <% } %>
                </tbody>
            </table>
        </div>

            <% } %>
        <% if (typeof data!='undefined' && data.table=='laptop') { %>
        <h1>Laptop</h1>
        <br>
        <div id="laptops">
        <table class="table table-hover" id="prodTable">
            <thead>
            <tr>
                <th><a class="sort" data-sort="model">Model</a></th>
                <th><a class="sort" data-sort="brand">Brand</a></th>
                <th>Processor</td>
                <th><a class="sort" data-sort="ram">RAM</a></th>
                <th><a class="sort" data-sort="storage">Storage</a></th>
                <th><a class="sort" data-sort="cores">Cores</a></th>
                <th>Os</td>
                <th><a class="sort" data-sort="battery">Battery</a></th>
                <th><a class="sort" data-sort="camera">Camera</a></th>
                <th><a class="sort" data-sort="touch">Touch</a></th>
                <th>Dimensions</td>
                <th><a class="sort" data-sort="weight">Weight</a></th>
                <th><a class="sort" data-sort="price">Price</a></th>
            </tr>
        </thead>
        <tbody class="list">
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td class="model"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td><%= data[i].processor %></td>
                <td class="ram"><%= data[i].ram %></td>
                <td class="storage"><%= data[i].storage %></td>
                <td class="cores"><%= data[i].cores %></td>
                <td><%= data[i].os %></td>
                <td class="battery"><%= data[i].battery %></td>
                <td class="camera"><%= data[i].camera %></td>
                <td class="touch"><%= data[i].touch %></td>
                <td><%= data[i].dimensions %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
        <% } %>
        <% if (typeof data!='undefined' && data.table=='monitor') { %>
        <h1>Monitor</h1>
        <br>
        <div id=monitors>
        <table class="table table-hover" id="prodTable">
            <thead>
            <tr>
                <th><a class="sort" data-sort="model">Model</a></th>
                <th><a class="sort" data-sort="brand">Brand</a></th>
                <th><a class="sort" data-sort="size">Size</a></th>
                <th><a class="sort" data-sort="weight">Weight</a></th>
                <th><a class="sort" data-sort="price">Price</a></th>
            </tr>
        </thead>
        <tbody class="list">
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td class="model"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="size"><%= data[i].size %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
        <% } %>
        <% if (typeof data!='undefined' && data.table=='tablet') { %>
        <h1>Tablet</h1>
        <br>
        <div id="tablets">
        <table class="table table-hover" id="prodTable">
            <thead>
            <tr>
                <th><a class="sort" data-sort="model">Model</a></th>
                <th><a class="sort" data-sort="brand">Brand</a></th>
                <th><a class="sort" data-sort="display">Display</a></th>
                <th>Processor</th>
                <th><a class="sort" data-sort="ram">RAM</a></th>
                <th><a class="sort" data-sort="storage">Storage</a></th>
                <th><a class="sort" data-sort="cores">Cores</a></th>
                <th>Os</th>
                <th><a class="sort" data-sort="battery">Battery</a></th>
                <th><a class="sort" data-sort="camera">Camera</a></th>
                <th>Dimensions</th>
                <th><a class="sort" data-sort="weight">Weight</a></th>
                <th><a class="sort" data-sort="price">Price</a></th>
            </tr>
            <thead>
            <tbody class="list">
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td class="model"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="display"><%= data[i].display %></td>
                <td><%= data[i].processor %></td>
                <td class="ram"><%= data[i].ram %></td>
                <td class="storage"><%= data[i].storage %></td>
                <td class="cores"><%= data[i].cores %></td>
                <td><%= data[i].os %></td>
                <td class="battery"><%= data[i].battery %></td>
                <td class="camera"><%= data[i].camera %></td>
                <td><%= data[i].dimensions %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
            </tr>
            <% } %>
        </tbody>
        </table>
    </div>
        <% } %>

    </div>
</div>
<script type="text/javascript" src="/js/catalog/catalog.js"></script>
<% include ../../assets/components/footer.ejs %>
</body>
</html>
