<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../../assets/components/header.ejs %>
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- //for bootstrap working -->
<!-- navigator -->
<% include ../../assets/components/navigator.ejs %>
<!-- //navigator -->
<% include ../../assets/components/dashboardNav.ejs %>

<form method="post" action="/admin/addProdSpec">
    <div class="AddMonitor">
        <label>Product Table: </label>
        <input type="text" class="" name="formProductType" value="Monitor" readonly>
    </div>
    <div class="AddMonitor">
        <label>modeNumber</label>
        <input type="text" class="" name="model" placeholder="model">
    </div>
    <div class="AddMonitor">
        <label>brand</label>
        <input type="text" class="" name="brand" placeholder="brand">
    </div>
    <div class="AddMonitor">
        <label>size</label>
        <input type="text" class="" name="size" placeholder="size">
    </div>
    <div class="AddMonitor">
        <label>weight</label>
        <input type="text" class="" name="weight" placeholder="weight">
    </div>
    <div class="AddMonitor">
        <label>price</label>
        <input type="text" class="" name="price" placeholder="price">
    </div>
    <button type="submit" class="">Add new Monitor item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <table>
            <tr contenteditable="false">
                <td>Model</td>
                <td>Brand</td>
                <td>Size</td>
                <td>Weight</td>
                <td>Price</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        <% for(var i = 0; i < data.length; i++) { %> 
            <tr contenteditable='true'>
                <td class="model" contenteditable="false"><%= data[i].model %></td>
                <td class="brand"><%= data[i].brand %></td>
                <td class="size"><%= data[i].size %></td>
                <td class="weight"><%= data[i].weight %></td>
                <td class="price"><%= data[i].price %></td>
                <td contenteditable="false"><button onclick="updateProdSpec('Monitor', $(this).closest('tr'), '/admin/monitors')">Edit</button></td>
                <td contenteditable="false"><button onclick="deleteProdSpec('Monitor', '<%= data[i].model%>', '/admin/monitors')">Delete</button></td>
            </tr>
        <% } %>
        </table>
    <% } %>
</div>
<!--%= jsonData %-->
<!-- footer -->
<% include ../../assets/components/footer.ejs %>
<!-- //footer -->

</body>
</html>