<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../../assets/components/header.ejs %>
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- //for bootstrap working -->
<!-- navigator -->
<% include ../../assets/components/navigator.ejs %>
<!-- //navigator -->

<% include ../../assets/components/dashboardNav.ejs %>


<form method="post" action="/catalog/addProdSpec">
    <div class="AddTablet">
        <label>Product Table: </label>
        <input type="text" class="" name="formProductType" value="Tablet" readonly>
    </div>
    <div class="AddTablet">
        <label>modeNumber</label>
        <input type="text" class="" name="model" placeholder="model">
    </div>
    <div class="AddTablet">
        <label>brand</label>
        <input type="text" class="" name="brand" placeholder="brand">
    </div>
    <div class="AddTablet">
        <label>display</label>
        <input type="text" class="" name="display" placeholder="display">
    </div>
    <div class="AddTablet">
        <label>processor</label>
        <input type="text" class="" name="processor" placeholder="processor">
    </div>
    <div class="AddTablet">
        <label>ram</label>
        <input type="text" class="" name="ram" placeholder="ram">
    </div>
    <div class="AddTablet">
        <label>storage</label>
        <input type="text" class="" name="storage" placeholder="storage">
    </div>
    <div class="AddTablet">
        <label>cores</label>
        <input type="text" class="" name="cores" placeholder="cores">
    </div>
    <div class="AddTablet">
        <label>os</label>
        <input type="text" class="" name="os" placeholder="os">
    </div>
    <div class="AddTablet">
        <label>battery</label>
        <input type="text" class="" name="battery" placeholder="battery">
    </div>
    <div class="AddTablet">
        <label>camera</label>
        <input type="text" class="" name="camera" placeholder="camera">
    </div>
    <div class="AddTablet">
        <label>dimensions</label>
        <input type="text" class="" name="dimensions" placeholder="dimensions">
    </div>
    <div class="AddTablet">
        <label>weight</label>
        <input type="text" class="" name="weight" placeholder="weight">
    </div>
    <div class="AddTablet">
        <label>price</label>
        <input type="text" class="" name="price" placeholder="price">
    </div>
    <button type="submit" class="">Add new Tablet item</button>
</form></br>
<div>
    <% if (typeof data!='undefined') { %>
        <table>
            <tr contenteditable='true'>
                <td contenteditable='false'>Model</td>
                <td>Brand</td>
                <td>Display</td>
                <td>Processor</td>
                <td>Ram</td>
                <td>Storage</td>
                <td>Cores</td>
                <td>OS</td>
                <td>Battery</td>
                <td>Camera</td>
                <td>Dimensions</td>
                <td>Weight</td>
                <td>Price</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        <% for(var i = 0; i < data.length; i++) { %> 
            <tr>
                <td><%= data[i].model %></td>
                <td><%= data[i].brand %></td>
                <td><%= data[i].display %></td>
                <td><%= data[i].processor %></td>
                <td><%= data[i].ram %></td>
                <td><%= data[i].storage %></td>
                <td><%= data[i].cores %></td>
                <td><%= data[i].os %></td>
                <td><%= data[i].battery %></td>
                <td><%= data[i].camera %></td>
                <td><%= data[i].dimensions %></td>
                <td><%= data[i].weight %></td>
                <td><%= data[i].price %></td>
                <td><button onclick="updateProdSpec('Tablet', '<%= data[i] %>', '/catalog/tabletView')">Edit</button></td>
                <td><button onclick="deleteProdSpec('Tablet', '<%= data[i].model %>', '/catalog/tabletView')">Delete</button></td>
            </tr>
        <% } %>
        </table>
    <% } %>
</div>
<!--%= jsonData %-->
<!-- footer -->
<% include ../../assets/components/footer.ejs %>
<!-- //footer -->

</body>
</html>