<!DOCTYPE html>
<html lang="en">
<head>
    <title>ConUshop | Home </title>
    <% include ../../assets/components/header.ejs %>

</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="/js/bootstrap-3.1.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<!-- //for bootstrap working -->
<!-- navigator -->
<% include ../../assets/components/navigator.ejs %>
<% include ../../assets/components/clientNav.ejs %>
<!-- //navigator -->
<div class="client_content">



    <div>
            <% if (typeof data=='undefined') { %>
                <div>
                    <br>
                    <h1>Client has succesfully signed in</h1>
                    <h2>Welcome to ConU Shop!</h2><br/>
                    <img src="\images\concordia.jpg" />
                </div>
            <%}%>

            <% if (typeof data!='undefined' && data.table=='desktop') { %>

            <table contenteditable="true" id="prodTable">
                <tr contenteditable="false">
                    <td>Model</td>
                    <td>Brand</td>
                    <td>Processor</td>
                    <td>Ram</td>
                    <td>Storage</td>
                    <td>Cores</td>
                    <td>Dimensions</td>
                    <td>Weight</td>
                    <td>Price</td>

                </tr>
                <% for(var i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].model %></td>
                    <td><%= data[i].brand %></td>
                    <td><%= data[i].processor %></td>
                    <td><%= data[i].ram %></td>
                    <td><%= data[i].storage %></td>
                    <td><%= data[i].cores %></td>
                    <td><%= data[i].dimensions %></td>
                    <td><%= data[i].weight %></td>
                    <td><%= data[i].price %></td>
                </tr>
                <% } %>
            </table>
            <% } %>
        <% if (typeof data!='undefined' && data.table=='laptop') { %>

        <table contenteditable="true" id="prodTable">
            <tr contenteditable="false">
                <td>Model</td>
                <td>Brand</td>
                <td>Processor</td>
                <td>Ram</td>
                <td>Storage</td>
                <td>Cores</td>
                <td>Os</td>
                <td>Battery</td>
                <td>Camera</td>
                <td>Touch</td>
                <td>Dimensions</td>
                <td>Weight</td>
                <td>Price</td>

            </tr>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].model %></td>
                <td><%= data[i].brand %></td>
                <td><%= data[i].processor %></td>
                <td><%= data[i].ram %></td>
                <td><%= data[i].storage %></td>
                <td><%= data[i].cores %></td>
                <td><%= data[i].os %></td>
                <td><%= data[i].battery %></td>
                <td><%= data[i].camera %></td>
                <td><%= data[i].touch %></td>
                <td><%= data[i].dimensions %></td>
                <td><%= data[i].weight %></td>
                <td><%= data[i].price %></td>
            </tr>
            <% } %>
        </table>
        <% } %>
        <% if (typeof data!='undefined' && data.table=='monitor') { %>
        <table contenteditable="true" id="prodTable">
            <tr contenteditable="false">
                <td>Model</td>
                <td>Brand</td>
                <td>Processor</td>
                <td>Ram</td>
                <td>Storage</td>
                <td>Cores</td>
                <td>Os</td>
                <td>Battery</td>
                <td>Camera</td>
                <td>Touch</td>
                <td>Dimensions</td>
                <td>Weight</td>
                <td>Price</td>

            </tr>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].model %></td>
                <td><%= data[i].brand %></td>
                <td><%= data[i].processor %></td>
                <td><%= data[i].ram %></td>
                <td><%= data[i].storage %></td>
                <td><%= data[i].cores %></td>
                <td><%= data[i].os %></td>
                <td><%= data[i].battery %></td>
                <td><%= data[i].camera %></td>
                <td><%= data[i].touch %></td>
                <td><%= data[i].dimensions %></td>
                <td><%= data[i].weight %></td>
                <td><%= data[i].price %></td>
            </tr>
            <% } %>
        </table>
        <% } %>
        <% if (typeof data!='undefined' && data.table=='tablet') { %>
        <table contenteditable="true" id="prodTable">
            <tr contenteditable="false">
                <td>Model</td>
                <td>Brand</td>
                <td>Processor</td>
                <td>Ram</td>
                <td>Storage</td>
                <td>Cores</td>
                <td>Os</td>
                <td>Battery</td>
                <td>Camera</td>
                <td>Touch</td>
                <td>Dimensions</td>
                <td>Weight</td>
                <td>Price</td>

            </tr>
            <% for(var i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= data[i].model %></td>
                <td><%= data[i].brand %></td>
                <td><%= data[i].processor %></td>
                <td><%= data[i].ram %></td>
                <td><%= data[i].storage %></td>
                <td><%= data[i].cores %></td>
                <td><%= data[i].os %></td>
                <td><%= data[i].battery %></td>
                <td><%= data[i].camera %></td>
                <td><%= data[i].touch %></td>
                <td><%= data[i].dimensions %></td>
                <td><%= data[i].weight %></td>
                <td><%= data[i].price %></td>
            </tr>
            <% } %>
        </table>
        <% } %>

    </div>
</div>
<!--%= jsonData %-->
<!-- footer -->
<% include ../../assets/components/footer.ejs %>
<!-- //footer -->

</body>
</html>